/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}



/**************

Basics 

***************/

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Quintessential', cursive;
}

/*********

Game 

**********/

.game_container {
    text-align: center;
    width: 500px;
    height: 700px;
    background-color: rgb(225, 238, 238);
    border-radius: 10px;
    margin: 2rem 0;
    box-shadow: 0 10px 20px -5px rgba(0,0,0,0.5) ;
}
.heading {
    background-color: rgb(114, 55, 55);
    color: rgb(225, 238, 238);
    font-size: 2rem;
    padding: 1rem 0;
    font-weight: 800;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

h2 {
    margin: 3rem 0;
    font-size: 2rem;
    color: rosybrown;
    font-weight: 800;
}

#reset {
    margin: 4rem 0;
    font-size: 2rem;
    background-color: rgb(114, 55, 55);
    padding: 0.90rem;
    color: rgb(225, 238, 238);
    border-radius: 50%;
}
.game_container i {
    color: rgb(225, 238, 238);
    font-size: 3rem;
    margin: 0 30px;
    background-color: rgb(114, 55, 55);
    border-radius: 50%;
    padding: 0.90rem;
}
.game_container i:hover, .game_container i:active , #reset:hover{
    background-color: rosybrown;
    color: rgb(114, 55, 55);
    cursor: pointer;
}

#result {
    font-size: 2rem;
    color: rosybrown;
    font-weight: 600;
}